---
title: Iota Technology Systems
layout: default
---

{% include header.html %}

<main class="bg-white">

    {% include hero.html %}

    <section id="case-studies" class="mx-auto py-2 px-4 max-w-7xl sm:px-6 lg:px-8 py-8">
        {% include case-studies2.html %}
    </section>

    <!-- <section id="contact" class="mx-auto py-2 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-16">
       {% include contact.html %}
    </section> -->

    <section id="about" class="mx-auto py-2 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-10">
        {% include about.html %}
    </section>

</main>

{% include footer.html %}

