<div class="bg-white space-y-6 lg:gap-8 lg:space-y-0">
    <p class="text-lg text-gray-500">

          We are a minority, woman-owned small business with a passion for
          clean, performant, and sustainable code. Our team represents decades of
          experience in building industry-leading software solutions at scale,
          with expertise in software development, system architecture, testing,
          database management, cloud orchestration, security, and data
          analytics.<br><br>

          View our <a href="https://github.com/iota-tech-sys/iota/raw/main/_includes/capabilities/iota_capabilities.pdf">
              <span class="text-slate-600 underline">Capability Statement here<span></a>.
    </p>
</div>


