<div class="bg-white relative max-w-lg mx-auto lg:max-w-7xl">

    <!-- Section Title -->
    <div class="divide-y divide-gray-200">
        <h2 class="flex justify-end text-3xl font-extrabold tracking-tight sm:text-4xl justify-end">
            <span class="">case studies &nbsp;</span>
            <span class="text-sky-600 font-sans font-bold"> ⚝ iota </span>
        </h2>

        <span class="flex text-right justify-end mb-0 text-xl text-gray-500">
            Projects that highlight our work.
        </span>
    </div>
    <!-- End Section Title -->

    <!-- Gallery -->
    <div class="lg:flex justify-center pt-8">

        <!-- Main Card -->
        <div class="2xl:w-7/12 lg:w-8/12 md:w-10/12 mb-10">
            <img src="assets/images/wellsign.png" alt="Wellsign App Screenshot" class="lg:w-full w-auto" />
            <div class="mt-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                    </div>
                    <div class="flex items-center">
                      <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />
                        <p class="text-base leading-none text-gray-500 ml-2">Software
                        Development</p>
                    </div>
                </div>

                <h1 class="lg:text-3xl text-2xl font-semibold mt-4 text-gray-800">
                    Employee Wellness Platform
                </h1>

                <p class="text-base leading-6 text-gray-600 mt-2">

                    Using Rails, VUE, and PostgreSQL on Heroku and Vercel cloud infrastructure
                    <span class="text-sky-600 bold">Iota ⚝</span> developed a scalable app
                    platform for a client serving large institutional partners. The app
                    provided a desktop interface for administrators managing team wellness
                    requirements (for example, university vaccination records), alongside
                    mobile app access for team members. API integration with PeopleSoft
                    records. Automated reporting and compliance requirements.

                </p>

            </div>
        </div>
        <!-- End Main Card -->

        <div class="lg:ml-6 lg:mt-0 mt-7 2xl:w-3/12 lg:w-4/12 w-full flex lg:flex-col sm:flex-row flex-col items-center justify-between">

            <!-- Secondary Card 1 -->
            <div class="lg:w-auto sm:w-1/2 mb-12">
                <img src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="robotic arm" class="w-full" />
                <div class="mt-4">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                        </div>
                        <div class="flex items-center">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />
                            <p class="text-base leading-none text-gray-500 ml-2">Security</p>
                        </div>
                    </div>

                    <h1 class="text-2xl font-semibold leading-6 mt-4 text-gray-800">
                        Detect Fraudulent Traffic
                    </h1>

                    <p class="text-base leading-6 text-gray-600 mt-2">

                        <span class="text-sky-600 bold">Iota ⚝</span> engineers implemented
                        live-wire machine learning techniques to monitor 50k+ requests per
                        minute to detect and block fraudulent ad traffic. Impacted the bottom
                        line by increasing revenue and preventing unauthorized access to user
                        transactions.

                    </p>

                </div>
            </div>
            <!-- End Secondary Card 1 -->

            <!-- Secondary Card 2 -->
            <div class="lg:mt-6 sm:mt-0 mt-6 lg:ml-0 sm:ml-6 lg:w-auto sm:w-1/2">

                <img src="assets/images/chart.png" alt="flying letters" class="w-full" />
                <div class="mt-4">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                        </div>
                        <div class="flex items-center">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />
                            <p class="text-base leading-none text-gray-500 ml-2">
                                Sentiment Analysis
                            </p>
                        </div>
                    </div>
                    <h1 class="text-2xl font-semibold leading-6 mt-4 text-gray-800">
                        Social Media Segmentation
                    </h1>

                    <p class="text-base leading-6 text-gray-600 mt-2">

                        During the COVID-19 Public Health Emergency, <span class="text-sky-600
                        bold">Iota ⚝</span> team worked with partners at the Center for Disease
                        Control to collect and study millions of vaccine-hesitant messages online with
                        the goal of tailoring a nation-wide social media campaign to target at at-risk
                        demographics, measurably improving public health outcomes.

                    </p>

                </div>

            </div>
            <!-- End Secondary Card 2 -->

        </div>
    </div>
</div>
