<!-- Section Title -->
<div class="divide-y divide-gray-200 mb-8">
    <h2 class="flex text-3xl font-extrabold tracking-tight sm:text-4xl justify-end">
        <span class="">case studies &nbsp;</span>
        <span class="bg-sky-600 text-white font-sans font-bold">&nbsp;iota&nbsp;</span>
    </h2>

    <span class="flex text-right justify-end mb-0 text-xl text-gray-500">
        Projects that highlight our work.
    </span>
</div>
<!-- End Section Title -->

<!-- Card 1 -->
<div id=gallery class="mx-4 lg:mx-8">
    <div class="lg:flex mb-6 lg:mb-16">

        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none
            lg:rounded-l text-center overflow-hidden" style="background-image:
            url('assets/images/wellsign.png')" title="Employee Wellness Platform Screenshot">

        </div>

        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col
         justify-between leading-normal">

            <div class="mb-8">

                <div class="flex items-center">
                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />
                    <p class="text-base leading-none text-gray-500 ml-2">Software
                    Development</p>
                </div>

                <div class="text-gray-900 font-bold text-xl mb-2">
                   Employee Wellness Platform
                </div>

                <p class="text-base leading-6 text-gray-600 mt-2">
                    Using Rails, VUE, and PostgreSQL on Heroku and Vercel cloud infrastructure
                    <span class="bg-sky-600 text-white bold">&nbsp;iota&nbsp;</span> developed
                    a scalable app platform for a client serving large institutional partners.
                    The app provided a desktop interface for administrators managing team
                    wellness requirements (for example, university vaccination records),
                    alongside mobile app access for team members. API integration with
                    PeopleSoft records. Automated reporting and compliance requirements.
                </p>

            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="lg:flex mb-6 lg:mb-16">

        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none
         lg:rounded-l text-center overflow-hidden" style="background-image:
         url('https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"
         title="Employee Wellness Platform Screenshot">

        </div>

        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col
         justify-between leading-normal">

            <div class="mb-8">

                <div class="flex items-center">
                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />

                    <p class="text-base leading-none text-gray-500 ml-2">
                        Security
                    </p>

                </div>

                <div class="text-gray-900 font-bold text-xl mb-2">
                    Detect Fraudulent Traffic
                </div>

                <p class="text-base leading-6 text-gray-600 mt-2">
                    <span class="bg-sky-600 text-white bold">&nbsp;iota&nbsp;</span> engineers implemented
                    live-wire machine learning techniques to monitor 50k+ requests per
                    minute to detect and block fraudulent ad traffic. Impacted the bottom
                    line by increasing revenue and preventing unauthorized access to user
                    transactions.
                </p>

            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="lg:flex">

        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none
            lg:rounded-l text-center overflow-hidden" style="background-image:
            url('assets/images/chart.png')" title="Data Visualization">

        </div>

        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col
         justify-between leading-normal">

            <div class="mb-8">

                <div class="flex items-center">
                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />

                    <p class="text-base leading-none text-gray-500 ml-2">Data Analysis</p>

                </div>

                <div class="text-gray-900 font-bold text-xl mb-2">
                    Social Media Segmentation
                </div>

                <p class="text-base leading-6 text-gray-600 mt-2">
                    During the COVID-19 Public Health Emergency, <span class="bg-sky-600
                     bold text-white">&nbsp;iota&nbsp;</span> team worked with partners at the Center for Disease
                    Control to collect and study millions of vaccine-hesitant messages online with
                    the goal of tailoring a nation-wide social media campaign to target at at-risk
                    demographics, measurably improving public health outcomes.
                </p>

            </div>
        </div>
    </div>
</div>
