<!-- Section Title -->
<div class="divide-y divide-gray-200 mb-8">
    <h2 class="flex text-3xl font-extrabold tracking-tight sm:text-4xl justify-end">
        <span class="">case studies &nbsp;</span>
        <span class="bg-sky-600 text-white font-sans font-bold">&nbsp;iota&nbsp;</span>
    </h2>

    <span class="flex text-right justify-end mb-0 text-xl text-gray-500">
        Projects that highlight our work.
    </span>
</div>
<!-- End Section Title -->

<div id=gallery class="mx-4 lg:mx-8">
{% for case in site.data.cases %}

    <!-- Card -->
    <div class="lg:flex mb-6 lg:mb-16">

        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none
         lg:rounded-l text-center overflow-hidden" style="background-image: url('{{
         case.img_url }}')">

        </div>

        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col
         justify-between leading-normal">

            <div class="mb-8">

                <div class="flex items-center">
                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />
                  <p class="text-base leading-none text-gray-500 ml-2"> {{ case.tag }} </p>
                </div>

                <div class="text-gray-900 font-bold text-xl mb-2">
                    {{ case.title }}
                </div>

                <p class="text-base leading-6 text-gray-600 mt-2">
                    {{ case.text }}
                </p>

            </div>
        </div>
    </div>

{% endfor %}
</div>
